[submodule "Assets/Packages/Recon"]
	path = Assets/Packages/Recon
	url = https://github.com/nobnak/Recon.git
[submodule "Assets/Packages/Gist2"]
	path = Assets/Packages/Gist2
	url = https://github.com/nobnak/Gist2.git
